head
  meta(charset='UTF-8')
  title Menilada App
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='manifest', href='/manifest.webmanifest')

  meta(name='apple-mobile-web-app-title', content='Meni App')
  link(rel='icon', type='image/png', sizes='144x144', href='/menilada-app-icon-144.png')
  link(rel='apple-touch-icon', type='image/png', sizes='144x144', href='/menilada-app-icon-144.png')
  link(rel='icon', type='image/png', sizes='192x192', href='/menilada-app-icon-192.png')
  link(rel='apple-touch-icon', type='image/png', sizes='192x192', href='/menilada-app-icon-192.png')
  link(rel='icon', type='image/png', sizes='512x512', href='/menilada-app-icon-512.png')
  link(rel='apple-touch-icon', type='image/png', sizes='512x512', href='/menilada-app-icon-512.png')
  link(rel='shortcut icon', href='/favicon-1.png', type='image/png')

  link(href='https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap' rel='stylesheet')
  link(rel='stylesheet', href='./stylesheets/vendors/bootstrap.min.css')
  link(rel='stylesheet', href='./stylesheets/style.styl')
